body {
  font-family: "helvetica"; }

upload button {
  background-color: green;
  color: white;
  border: none;
  outline: none;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  cursor: pointer; }

section#home upload {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px; }
