// Font size configuration
$xxsmall: 8px;
$xsmall: 12px;
$small: 14px;
$normal: 16px;
$large: 18px;
$xlarge: 22px;
$xxlarge: 26px;
$xxxlarge: 36px;
$xxxxlarge: 72px;
$xxxxxlarge: 100px;

$font: "helvetica";

$accent: #779933;
$accentActive: #5c7829;

body {
    font-family: $font;
    color: #444;
    //background: black;
}

@import "sections/components";
@import "sections/home";
@import "sections/upload";