section#user {
    position: absolute;
    top: 44px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    padding: 10px;
    overflow: auto;
    overflow-x: hidden;
    
    p {
        font-size: $normal;
        line-height: $normal + 5px;
    }
    
    form {
        margin-top: 50px;
        
        > div {
            position: relative;
            
            i {
                position: absolute;
                right: 10px;
                height: $xxxlarge;
                line-height: $xxxlarge;
                color: red;
            }
         
            input {
                margin-bottom: 10px;
                width: 100%;
                font-size: $large;
                height: $xxxlarge;
                border: none;
                background-color: #eee;
                outline: none;
                padding: 0px 7px;
                font-weight: 100;
            }   
        }
    }
}