$headerHeight: 44px;

div#content {
    header {
        height: $headerHeight;
        letter-spacing: 1px;
        box-shadow: inset 0px -2px 0px 0px $accent;
        position: relative;

        div.title {
            position: absolute;
            left: 5px;
            top: 5px;
            right: 5px;
            bottom: $headerHeight - 5px;
            z-index: -1000;
            
            h1:last-child {
                line-height: $headerHeight - 10px;
                text-align: center;
                font-size: $large;
                font-weight: 500;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            
            h1:not(:last-child) {
                font-size: $large;
                font-weight: 500;
            }
            
            h2 {
                font-size: $xsmall;
                font-weight: 100;
                margin-top: 3px;
            }
        }

        > span {
            position: absolute;
        }

        .action {
            text-decoration: none;
            font-size: $large;
            cursor: pointer;
            line-height: $headerHeight;
            max-height: $headerHeight;
            min-width: $headerHeight;
            text-align: center;
        }
        .action.ng-click-active {
            color: darken($accent, 20%);
        }

        div#rightBarButton {
            position: absolute;
            right: 0px;
            cursor: pointer;

            span.line {
                float: left;
                width: 1px;
                height: 30px;
                background-color: #eee;
                display: block;
                margin-top: 6px;
            }
            
            span.text {
                color: $accent;
                line-height: $headerHeight - 2px;
                padding: 0px 10px;
                font-size: $small;
            }
            
            &.ng-click-active {
                background-color: #eee;
            }
        }
    }
}