<section id="user">
    <p>
        Onderstaande informatie dient slechts 1 keer ingevuld te worden.
    </p>
    
    <form name="frm">
        <div>
            <i class="fa fa-exclamation-circle" ng-show="frm.name.$invalid && frm.name.$touched"></i>
            <input type="text" id="name" name="name" ng-model="name" placeholder="Naam" required />
        </div>
        
        <div>
            <i class="fa fa-exclamation-circle" ng-show="frm.mail.$invalid && frm.mail.$touched"></i>
            <input type="email" id="mail" name="mail" ng-model="mail" placeholder="E-mailadres" required />
        </div>
    </form>
</section>

<actionbar>
    <back-action-item></back-action-item>
</actionbar>