upload {
    div.button {
        background-color: green;
        color: white;
        border: none;
        outline: none;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        cursor: pointer;
        text-align: center;
        line-height: 140px;
    }
}